
/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');*/

.indent {
    padding-left: 20px; /* Ajusta el valor según la indentación deseada */
}
.indentone {
    padding-left: 50px;
}
  
:root{
    --text-color : #00aa00;
}

body{
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
    color: #0ED907;
    font-size: 18px;
    line-height: 1.6;
    
}

h1{
    color: var(--text-color);
    font-size: 40px;
    letter-spacing: -3px;
    margin-bottom: 20px;
}

h2{
    color: var(--text-color);
}

h3{
 
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
}

a{
    color: var(--text-color);
    text-decoration: none;
    
}

p{
    margin: 20px 0;
}

nav{
    width: 80%;
}

ul {
    list-style-type: none;
    display: flex; /* Mantiene el uso de flexbox */
    justify-content: center; /* Cambia a center para centrar los elementos */
    align-items: center;
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
}



li{
   
    color: var(--text-color);
    cursor: pointer;
    
}

.cursor{
    font-weight: 300;
    animation: 1s blink step-end infinite;
}

@keyframes blink{
    from, to{ color: transparent;}
    50% {color: var(--text-color);}
}

.container {
    width: 100%;
    height: 100vh; /* Usa toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita scrolls no deseados */
}


.wb-body{
    background: #111;
    padding: 20px;
}

.wb-title {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px; 
}

.hidden{
    display: none;
}

.lista-hidden{
    
    display: block;

}

@media (max-width: 500px){

    ul{
    
        display: block;
        justify-content: space-around;
        align-items: center;
    
    }

    main{
        text-align: center;
    }

    main h3{
        text-align: left;
    }
    
   

}
.text-container {
    display: inline-block;
    width: 8ch; /* Tamaño fijo para que no se mueva */
    text-align: left;
}

